<?xml version="1.0"?>
<robot name="LiCAS_A1" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="gazebo_ros_controller" filename="libgazebo_ros_control.so">
      <robotNamespace>/licasa1</robotNamespace>
    </plugin>

    <!-- <plugin name="libplatform_control_plugin" filename="libplatform_control_plugin.so">
		</plugin> -->
  </gazebo>

</robot>